#文件夹和文档
.ipynb_checkpoints/
__pycache__/
data/*/
runs/
models/
cache/
cache_linux/
训练结果备份（最终1）/
训练结果备份2/
*.onnx
模型可视化探索.txt
后台运行.txt
stage1.log
stage2.log

#无用文件
F1_score.py
jupyter notebook.txt
all_scalars.json
check.ipynb
out.txt
out1.txt
out2.txt

#生成结果
Netdata
Netdata2_eye
Netdata2_eyebrow
Netdata2_mouth
Netdata2_nose
BestNet
BestNet2_eye
BestNet2_eyebrow
BestNet2_mouth
BestNet2_nose